# Environment
.env
/vendor
# ignore only the root .htaccess (may contain sensible data)
.htaccess
!/wordpress/.htaccess

# NPM
node_modules/
npm-debug.log
package-lock.json

# Wordpress
wordpress/wp-config.php

# IDE
.idea
*.sublime-*

# MISC
.DS_Store

# we do NOT commit distribution files!
#
# they should be built
# per Continous Integration OR per deployment task
# we should keep images fonts and ander stuff, already compiled # dist/
dist/css/**/*
dist/js/**/*
__test__/* # tbd refine after structure is set
build/*
